<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./lib/vue2.js"></script>
</head>

<body>
    <div id="app">
        <p v-if="flag">v-if</p>
        <p v-show='flag'>v-show</p>

        <!-- v-if  & v-else -->
        <div v-if="type=='A'">AAA</div>
        <div v-else-if="type=='B'">BBB</div>
        <div v-else>CCC</div>
    </div>

    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                flag: true,
                type:'A',
            }
        })
    </script>
</body>

</html>